
.btn {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    color: white;
    padding: 2px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
        background-image: linear-gradient(to right, #edb555 0%, #f06630 51%, #d83971 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
    cursor: pointer;
    position: absolute;
right: 10px;
top: 20px;
}

.btn:hover{
   
        background-position: right center;
        background-image: linear-gradient(to right,  #d83971 0%, #f06630 51%, #edb555 100%);

}