/* example module without external library */


.ulNavigateStyle
{  display: flex;
  gap: 7px;
}


.btnNavStyle {
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 10px 10px;
  margin: 10px;
  border-radius: 7px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(
    to right,
    #9eefe1 0%,
    #4830f0 51%,
    #9eefe1 100%
  );
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  cursor: pointer;
 
}

  :hover {
    background-position: right center;
  }


