form {
  display: flex;
  flex-flow: column nowrap;
  gap: 3px;
  max-width: 350px;
  margin: 50px auto 0;
  padding: 20px;
  background: #eefff5;
  border: 10px solid transparent;
  border-image: 10
    repeating-linear-gradient(
      135deg,
      #c42061,
      #c42061 10px,
      transparent 10px,
      transparent 20px,
      #fbcfdf 20px,
      #fbcfdf 30px,
      transparent 30px,
      transparent 40px
    );
  font-family: "Playfair Display";
  color: #605756;
}

.wrapShedule {
  display: flex;
  gap: 5px;
}

.labelShedule {
  display: inline-block;
  background: #e4f8e0;
  width: auto;
  border-radius: 10px;
  padding: 3px;
  padding-left: 12px;
}

.inputShedule {
  font-weight: 900;
  color: rgb(35, 48, 230);
  padding: 12px;
  background-color: #b7d5c6;
  border-width: 0;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 7px;
  width: 30px;
  border-width: 0;
  outline: none;
}

.inputSheduleDay {
  width: 95%;
  border-radius: 3px;
  padding: 0 10px;
  line-height: 35px;
  border-width: 0;
  outline: none;
  background-color: rgb(247, 234, 162);
  background-size: 8px 35px;
  font-family: "Playfair Display";
  cursor: pointer;
  color: #c42061;
}

/* for select from import Clfss-propsi */
.selectWrap {
  background-color: transparent;
}
  .iconAnimals {
    border-radius: 5px;
  }

.selectStyle {
  border-radius: 5px;
  background-color: transparent;
  outline: none;
  border: none;
  color: #09b935;

}
.labelSelectChoiseStyle,
.optionStyle {
  color: #89888c;
  border-radius: 5px;
}
